<%- include('../_layouts/header'); -%>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		    <%- include('../_layouts/navebar_main'); -%>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">

		</div>
		<div class="col-md-2">
            <%- include('../_layouts/message'); -%>
            <h1><%= title %></h1>


        </div>
	</div>
</div>
<%- include('../_layouts/footer'); -%>